@import url("https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap");
@import "reset.css";
@import "status-bar.css";
@import "variables.css";
@import "login.css";
@import "nav-bar.css";
@import "screen-header.css";
@import "friends.css";
@import "chats.css";
@import "find.css";
@import "icons-row.css";
@import "more.css";
@import "alt-screen-header.css";
@import "setting.css";
@import "chat.css";
@import "mobile.css";
body {
  font-family: "Readex Pro", sans-serif;
}
.main-screen {
  padding: 0px var(--horizontal-space);
}
a:visited {
  color: inherit;
}
* {
  box-sizing: border-box;
}
